body {
    background-image: url('../image/logo.png');
    background-color: #edf9ff;
    background-position: center center;       /* Centraliza horizontal e verticalmente */
    background-repeat: no-repeat;             /* Evita repetição da imagem */
    background-size: 80%;                   /* Faz com que a imagem cubra todo o fundo */
    background-attachment: fixed;             /* Mantém a imagem fixa enquanto rola a página */
    height: 100vh;                            /* Garante que o body tenha a altura da viewport */
    margin: 0;                                /* Remove margens do body */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 30px 20px;
    background: linear-gradient(#00428d,#047e00);
    color: white;
    position: relative; /* Para o uso de flexbox e centralização */
}

.logo {
    position: absolute; /* Logo fica fixa no lado esquerdo */
    left: 20px;
}

.logo img {
    height: 85px; /* Ajuste conforme necessário */
}

.nav {
    flex: 1; /* Faz com que a navegação ocupe o espaço disponível */
    display: flex;
    justify-content: center; /* Centraliza os itens da navegação horizontalmente */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin: 0 15px; /* Espaço entre os links */
}

.nav ul li a {
    color: white; /* Cor padrão dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 20px;
    transition: color 0.3s ease; /* Suaviza a transição da cor */
}

.nav ul li a:hover {
    color: rgb(0, 201, 27); /* Cor dos links quando o mouse está sobre eles */
    text-decoration: underline; /* Opcional: adiciona sublinhado ao passar o mouse */
}