/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-image: url('../image/logo.png');
    background-color: #edf9ff;
    background-position: center center;       /* Centraliza horizontal e verticalmente */
    background-repeat: no-repeat;             /* Evita repetição da imagem */
    background-size: 80%;                   /* Faz com que a imagem cubra todo o fundo */
    background-attachment: fixed;             /* Mantém a imagem fixa enquanto rola a página */
    height: 100vh;                            /* Garante que o body tenha a altura da viewport */
    margin: 0;                                /* Remove margens do body */

    
  }
  
  /* Estilos do formulário */
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  @media only screen and (max-width: 767px) {
    form {
      max-width: 90%;
    }
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  input[type="text"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .btn-class {
    display: flex;
    justify-content: space-between;
  }

  button {
    width: 120px;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
  }

  button[type="button"]:hover {
    background-color: #3e8e41;
  }

  .back-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0fb600;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}