/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-image: url('../image/logo.png');
    background-color: #edf9ff;
    background-position: center center;  /* Centraliza horizontal e verticalmente */
    background-repeat: no-repeat;        /* Evita repetição da imagem */
    background-size: 80%;                /* Faz com que a imagem cubra todo o fundo */
    background-attachment: fixed;        /* Mantém a imagem fixa enquanto rola a página */
    height: 100vh;                       /* Garante que o body tenha a altura da viewport */
    margin: 0;                           /* Remove margens do body */
  }
  
  /* Estilos do formulário de filtro */
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  @media only screen and (max-width: 767px) {
    form {
      max-width: 90%;
    }
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }

  h3 {
    color: red;
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
  }
  
  /* Estilo dos campos de texto */
  input[type="text"],
  input[type="date"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Botões */
  button {
    width: 120px;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .back-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0a6602;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #003f83;
  }
  
  /* Estilo para os resultados do relatório */
  #relatorio {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #relatorio div {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  #relatorio div:last-child {
    border-bottom: none;
  }
  
  /* Estilo para o total */
  #total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #333;
  }
  


  /* Estilos para o registro individual */
#tabela-relatorio .registro {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  /* Último registro sem a borda inferior */
  #relatorio .registro:last-child {
    border-bottom: none;
  }
  
  /* Estilo do total */
  #total {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #333;
    margin-top: 20px;
  }


  /* Estilo para tabelas */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .back-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0a6602;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #003f83;
}
  